.containerFooter{
  background-color: rgb(60, 155, 169);
  position: absolute;
  left: 0px;
  right: 0px;

  width: 100%;
  height: 7%;
  bottom: 2px;
  top: 94%;
  padding:20px ;
  text-align: start;
  color: aliceblue;
}
