.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  padding-top: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-buttons{
  display: flex;
  width: 730px;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 10px 10px 10px;
  height: 60px;
  /* flex:1 */

}
.button-input{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex:2
}
